.Person {
    margin: 0;
    padding: 0 0 0 12px;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    width: 100%;
    color: #000000;
    min-height: 100vh;
}

.Person label {
    clear: both;
    width: 100px;
    text-align: right;
    float: left;
    padding-right: 16px;
    color: silver;
}

.Person-id, .Person-address, .Person-department {
    margin-bottom: 16px;
}

.Person-address {
    white-space: pre;
    display: grid;
}
