.App {
    margin: 32px;
}

.message {
    color: red;
}

.LoginForm-floating {
    background-color: #eee;
    box-shadow: rgba(0, 0, 0, 0.15) 0 8px 4px;
    padding: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
