.Ticker {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Ticker h1 {
    margin-top: 0;
}

.Ticker-clock {
    border: 1px solid black;
    padding: 12px;
    width: 230px;
    border-radius: 8px;
    margin-top: 24px;
}