.InputField {
    margin-bottom: 0;
}

.InputField label, .InputField-error {
    display: block;
    font-size: 80%;
}

.InputField-error {
    color: red;
    padding-top: 4px;
    padding-bottom: 12px;
}