.Puzzle-squares {
    display: inline-grid;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    grid-template-columns: 72px 72px 72px;
    grid-template-rows: 72px 72px 72px;
    grid-gap: 0;
    border-style: solid;
    border-width: 16px;
    border-radius: 8px;
    border-color: #a0822c;
    background-color: #c7c7c7;
}

.Puzzle-square {
    display: flex;
    font-size: 24pt;
    border: 1px solid black;
    border-radius: 0;
    background-color: blue;
    color: white;
    box-shadow: inset 0 -2px 6px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.Puzzle-square:active {
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
}

.Puzzle-square-empty, .Puzzle-square-empty:active {
    border: none;
    background-color: inherit;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.6);
    cursor: auto;
}

.Puzzle-complete {
    color: red;
    font-size: 20pt;
    margin-top: 16px;
}

.Puzzle-controls {
    display: block;
}

.Puzzle button {
    margin: 16px;
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2),0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
    outline: 0;
    position: relative;
    align-items: center;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    -moz-user-select: none;
    -webkit-appearance: none;
}

button.Puzzle-shuffle {
    background-color: #d20019;
    color: white;
}

button.Puzzle-reset {
    background-color: #00cd00;
    color: white;
}

.Puzzle button:active {
    box-shadow: none;
}